.categoryFormContent {
    display: flex;
    gap: 10px;
}

.formButtonBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.formButtonBar button {
    margin-left: 10px;
}

.formButtonBar .submit {
    background-color: #0b5876;
    color: #fff;
}

.formButtonBar .submit:hover {
    background-color: #0b5876aa;
    border: 1px solid transparent;
}