.category-form-content {
    display: flex;
    gap: 10px;
}

.form-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.form-button-bar button {
    margin-left: 10px;
}

.form-button-bar .submit {
    background-color: #0b5876;
    color: #fff;
}

.form-button-bar .submit:hover {
    background-color: #0b5876aa;
    color: #fff;
    border: 1px solid transparent;
}

.category-form-content .form-input input, select {
    height: 49.5px;
}