/* 
.errorModal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 1rem;
    position: absolute;
    top: 20%;
    width: 50%;
}

.loadingModal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 1rem;
    position: absolute;
    top: 20%;
    width: 50%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal.show {
    display: block;
} */