.flash-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.flash-message button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.flash-message .close-button:hover {
  color: #ffffffbb;
}

.flash-message .message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #646cff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.flash-message .message.success {
  background-color: #23d160;
}

.flash-message .message.error {
  background-color: #ff0033;
}

.flash-message .message.warning {
  background-color: #ffdd57;
}

.flash-message .message.info {
  background-color: #209cee;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);  
  }
}